# 🖥 Global Ignore for Backend & Frontend

backend/venv/
backend/.env
backend/__pycache__
backend/tests/__pycache__/
backend/logs/
backend/*.log
backend/*.sqlite3
backend/*.db
backend/.pytest_cache/

frontend/node_modules/
frontend/.env
frontend/.next/
frontend/dist/
frontend/yarn.lock

node_modules/
package-lock.json

.DS_Store
Thumbs.db
*.log
*.pyc
*.pyo
*.pyd
.vscode/
.idea/
